mixin picture(name, sourceImage, price)
    article.col-md-3
        img(src=sourceImage,border='3')
        br
        | #{name}
        br
        | #{price}€
        br
        center
        input.boton(type='button',value='Comprar',onclick="comprar('#{name}', '#{price}');")
